* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1542291026-7eec264c27ff?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 450px;
    border: 1px solid white;
    padding: 40px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    
}

form{
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}

input {
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 400;
}

button {
    padding: 10px;
    background-color: rgb(122, 5, 255);
    color: white;
    font-size: 20px;
    font-weight: 300;
    border: none;
    border-radius: 10px;

}

button:hover {
    background-color:  rgb(101, 3, 212);
    transition: .5s ease;
}

.password-container {
    position: relative;
}

.toggle-password{
    position: absolute;
    right: 5px;
}